header {
    font-size: 32px;
    color: rgb(14, 12, 13);
    background-color: rgb(170, 55, 136);
    border-bottom: solid 3px rgb(31, 30, 30);
    padding: 10px;
    display: flex;
    justify-content: center;
}

body {

    background: rgb(139, 96, 96);
    color: rgb(19, 18, 17);

}

section {
    display: flex;
    justify-content: center;
    margin: 20px;
}

div {
    margin-right: 7%;
    margin-left: 5%;
}

.seletor {
    display: flex;
    overflow-x: auto;
    gap: 20px;


}

img {
    height: 200px;

}


.seletor img {

    opacity: 0.5;

}

.seletor img:hover {

    opacity:1.0;
}